@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
  background-image: image-url("ocean1.jpg");
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','Meiryo UI','メイリオ',Verdana,'ＭＳ Ｐゴシック','sans-serif';
}

section {
  overflow: auto;
}
hr{
  border-top: 2px solid #ffffff;
}
textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

a:link { color: #ff8000; }

a:visited { color: #ff8000; }
a:hover { color: #ff8000; }
a:active { color: #ff8000; }


a:link.akirame_btn{ color: #ffffff; }
a:link.akirame_btn{ color: #ffffff; }
a:link.akirame_btn{ color: #ffffff; }


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: 1px;
  margin-bottom: 0px;
  text-align: center;
  color: #fff;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #fff;
}

h3 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #fff;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;

}

.explain{
  font-size: 16px;
  color: #fff;
}

.success{
  background-color: #000000;
}
/* header */

#header {
  background-color: rgba(0,0,0,0.0);
  border: 0;
  height: 0px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#logo-home{
 font-size: 3.7em;
 font-family: 'Merriweather', serif;
 border-radius: 10px;
 /*outline: solid 1px #fff;*/
 padding: 0px;
 background-color: rgba(0,0,0,0);
 
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 10px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/*follow*/

.follow{
  clear: left;
}

/*akirame-tweets*/
.akirame-tweets{
  background-color: rgba( 0, 0, 0,0.1); 
  color: #000000; 
  padding: 10px;
  font-size: 14px;
  margin: 0 auto; 
  clear: both;
}

#akirameter{
  font-size: 45px;
  color: #fff; 
  padding: 0px;
  margin: 0px;
}

.data-label{
  font-size: 12px;
  color: #fff; 
}

.field_contents{
  background-color: rgba(255,255,255,0.8);
  text-align: left;
  margin: 10px;
  padding: 1px 1px 1px 1px;
  font-size: 12px;
  /*半角文字列を改行する（日本仕様）*/
  word-break: break-all;

}

.akirame{
  font-size: 14px;
  font-family: "Meiryo UI","メイリオ";
  padding: 15px 20px 15px 5px;
  background-color: rgba(255,255,252,0.7);
}


.tweet-label{
  padding-left: 20px;
  color: #f5fffa;
}

.tweet-info{
  color: #000000;
  white-space: nowrap;
  margin: 15px;
}

.twitter_user_image{
  padding: -10px;
  margin: 10px;
}


.navber-text{
  color: #ffffff;
  text-decoration: none;
}



.charts-group{
  /*float: left;*/
}

.akirame-form{
  background-color: rgba( 0, 0, 0,0.2); 
}

.akirame-counter{
  border: #ffffff  1px;
  margin: 0px;
  padding: 0px;
}

.share-btn{
  clear: both;
  margin: 15px;
  padding-right: 15px; 
}

.akirame_info{
    background-color: rgba(255,255,255,0.5);
    text-align: right;
    padding: 3px;
    color: rgb(0,0,0);
}

.age_info{
  background-color: rgb(102,187,106);
  color: rgb(255,255,255);
  padding: 4px;
  border-radius: 2px;
}

.seibetsu_info{
  background-color: rgb(126,87,194);
  color: rgb(255,255,255);
  padding: 4px;
  border-radius: 2px;
}

.genre_info{
  background-color: rgb(121,85,72);
  color: rgb(255,255,255);
  padding: 4px;
  border-radius: 2px;
}

.past_time_info{
  background-color: rgb(120,144,156);
  color: rgb(255,255,255);
  padding: 4px;
  border-radius: 2px;
}

.created_info{
  text-align: right;
}


/*#B0BEC5','#b71c1c','#0D47A1'*/

/* ラジオボタンは非表示にする */

input[type=radio] {
  display: none; 
}

/* チェックされた時のスタイル */

input[type="radio"]:checked + .tweet-label {
  color: #FFEE58; 
  border:2px solid #FFEE58;
  text-decoration: underline;
}
/* マウスオーバーしたときのスタイル */
.male-label:hover {
  background-color: #1976D2; 
}

.female-label:hover {
  background-color: #e53935; 
}

.malefemale-label:hover {
  background-color: #CFD8DC; 
}


.male-label{
  background-color: #0D47A1;
  test-align: center;
  padding: 5px 10px 5px 10px;
  width: 100px;
  margin: 10px;
}

.female-label{
  background-color: #b71c1c;
  test-align: center;
  padding: 5px 10px 5px 10px;
  width: 100px;
  margin: 10px;
}

.malefemale-label{
  background-color: #B0BEC5;
  test-align: center;
  padding: 5px 10px 5px 10px;
  width: 100px;
  margin: 10px;
}

/*諦めボタン用*/
.akirame_btn{
  font-size: 20px;
  font-family: 'Meiryo UI','メイリオ';
  color: #fff;
  padding: 5px;
  border: 1px solid #ffffff;
  background-color: rgb(236,64,122);
  /*clear: both;*/
}

a.akirame_btn{ color: #ffffff; text-decoration: none; }
.akirame_btn {
	position: relative;
	color: #fff;
	line-height: 25px;
	/*
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	
	box-sizing: content-box;
	*/
	-webkit-transition: none;
	transition: none;
	text-shadow: 0px 1px 0px #f56778;
}
.akirame_btn,
.akirame_btn:hover {
	border-bottom: 4px solid #cb5462;
	background-color: #f56778;
	background-image: -webkit-linear-gradient(top, #D81B60, #f56778);
	background-image: linear-gradient(to bottom, #D81B60, #f56778);
	box-shadow: inset 1px 1px 0 #fbc1d0;

}
.akirame_btn::before,
.akirame_btn::after {
	bottom: -1px;
	left: -1px;
	height: 20px;
	border: 1px solid #ee8090;
	border-bottom: 1px solid #b84d5a;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: none;
	transition: none;
}
.akirame_btn::before {
	height: 48px;
	bottom: -4px;
	border-top: 0;
	box-shadow: 0 1px 1px 0px #bfbfbf;
}
.akirame_btn:hover {
	background: #f56778;
	background-image: -webkit-linear-gradient(top, #f56778, #D81B60);
	background-image: linear-gradient(to bottom, #f56778, #D81B60);
	color: #fff;
	text-shadow: 0px 1px 0px #f9a0ad;
	font-size: 30px;
}
.akirame_btn:active {
	bottom: -4px;
	margin-bottom: 4px;
	border: none;
	box-shadow: 1px 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, .3);
}
.akirame_btn:active::before,
.akirame_btn:active::after {
	border: none;
	box-shadow: none;
}